
@{
    ViewBag.Title = "Log Out";
}

<br />
<br />
<br />

<fieldset>
    <legend align="center">→ CERRAR SESIÓN ←</legend>
    <div class="container" style="align-content: center">
        <p class="text-center center" style="font:bold; font-size:large">
            ¿Desea salir? <br />
            <a type="button" class="btn btn-outline-success bg-dark text-light" href="~/Home/LogIn">SI</a> | <a type="button" class="btn btn-outline-danger bg-dark text-light" href='javascript:history.go(-1)'>NO</a>
        </p>
    </div>
</fieldset>

