
@{
    ViewBag.Title = "Log Out";
}

<fieldset>
    <legend align="center">→ CERRAR SESIÓN ←</legend>
    <div class="container" align="center">
        <p class="text-center center">
            ¿Desea salir?
            <a type="button" class="btn btn-outline-warning bg-dark text-light" href="~/Home/LogIn">SI</a> <a type="button" class="btn btn-outline-success bg-dark text-light" href='javascript:history.go(-1)'>NO</a>
        </p>
    </div>
</fieldset>

