
@{
    ViewBag.Title = "Axuliar";
}
<fieldset>
    <legend align="center">→ USUARIO AUXILIAR ←</legend>
    <div class="container" align="center">
        <a type="button" class="btn btn-outline-success bg-dark text-light" href="~/Management/Usuarios_Cliente">Gestionar usuarios cliente</a><br />
        <a type="button" class="btn btn-outline-warning bg-dark text-light" href="~/Management/Resultados">Gestionar pruebas</a>
    </div>
</fieldset>