
@{
    ViewBag.Title = "MasterView";
}

<h2>MasterView</h2>

<fieldset>
    <legend align="center">→ USUARIO MASTER ←</legend>
    <div class="container" align="center">
        <a type="button" class="btn btn-outline-success bg-light text-dark" href="~/Master/View_MasterUsers">Gestionar usuarios</a>
        <a type="button" class="btn btn-outline-warning bg-light text-dark" href="/Cliente/Tarjeta">Tarjeta de credito</a>
        <a type="button" class="btn btn-outline-primary bg-light text-dark" href="/Cliente/Prestamo">Prestamo</a>

    </div>
</fieldset>