@{
    ViewBag.Title = "Administrador";
}

<fieldset>
    <legend align="center">→ USUARIO ADMINISTRADOR ←</legend>
    <div class="container" align="center">
        <a type="button" class="btn btn-outline-info" href="~/Management/Usuarios_Auxiliar" style="font:bold; font-size:large;">Gestionar usuarios auxiliar.</a><br />

        <a type="button" class="btn btn-outline-info" href="~/Management/Usuarios_Cliente" style="font:bold; font-size:large;">Gestionar usuarios cliente.</a><br />

        <a type="button" class="btn btn-outline-info" href="~/Management/Resultados" style="font:bold; font-size:large;">Gestionar pruebas.</a><br />
    </div>
</fieldset>