
@{
    ViewBag.Title = "Auxiliar";
}
<fieldset>
    <legend align="center">→ USUARIO AUXILIAR ←</legend>
    <div class="container" align="center">
        <button type="button" class="btn btn-outline-secondary" href="~/Management/Usuarios_Cliente">Gestionar usuarios cliente.</button><br />

        <button type="button" class="btn btn-outline-dark" href="~/Management/Resultados">Gestionar pruebas.</button><br />
    </div>
</fieldset>