
@{
    ViewBag.Title = "Cliente";
}
<fieldset>
    <legend align="center">→ USUARIO CLIENTE ←</legend>
    <div class="container" align="center">
        <a type="button" class="btn btn-outline-dark" href="~/Management/Resultados">Gestionar pruebas.</a><br />
    </div>
</fieldset>