
@{
    ViewBag.Title = "Cliente";
}
<fieldset>
    <legend align="center">→ USUARIO CLIENTE ←</legend>
    <div class="container" align="center">
        <a type="button" class="btn btn-outline-info" href="~/Management/Resultados" style="font:bold; font-size:large;">Gestionar pruebas.</a><br />
    </div>
</fieldset>