
@{
    ViewBag.Title = "Cliente";
}
<fieldset>
    <legend align="center">→ USUARIO CLIENTE ←</legend>
    <div class="container" align="center">
        <a type="button" class="btn btn-outline-warning bg-dark text-light" href="~/Management/Resultados_Cliente">Mis pruebas</a>
    </div>
</fieldset>