
@{
    ViewBag.Title = "Master";
}

<fieldset>
    <legend align="center">→ USUARIO MASTER ←</legend>
    <div class="container" align="center">
        <a type="button" class="btn btn-outline-success bg-dark text-light" href="~/Management/Usuarios_General">Gestionar todos los usuarios</a><br />
        <a type="button" class="btn btn-outline-success bg-dark text-light" href="~/Management/Usuarios_Administrador">Gestionar usuarios administrador</a><br />
        <a type="button" class="btn btn-outline-success bg-dark text-light" href="~/Management/Usuarios_Auxiliar">Gestionar usuarios auxiliar</a><br />
        <a type="button" class="btn btn-outline-success bg-dark text-light" href="~/Management/Usuarios_Cliente">Gestionar usuarios cliente</a><br />
        <a type="button" class="btn btn-outline-warning bg-dark text-light" href="~/Management/Resultados">Gestionar pruebas</a>
    </div>
</fieldset>