
@{
    ViewBag.Title = "Master";
}

<fieldset>
    <legend align="center">→ USUARIO MASTER ←</legend>
    <div class="container" align="center">
        <button type="button" class="btn btn-outline-light" action="~/Management/Usuarios_General">Gestionar todos los usuarios.</button><br />

        <button type="button" class="btn btn-outline-info" action="~/Management/Usuarios_MasterA">Gestionar usuarios master.</button>

        <button type="button" class="btn btn-outline-warning" action="~/Management/Usuarios_MasterB">Gestionar usuarios pseudo-master.</button><br />

        <button type="button" class="btn btn-outline-success" action="~/Management/Usuarios_Administrador">Gestionar usuarios administrador.</button><br />

        <button type="button" class="btn btn-outline-danger" action="~/Management/Usuarios_Auxiliar">Gestionar usuarios auxiliar.</button><br />

        <button type="button" class="btn btn-outline-secondary" action="~/Management/Usuarios_Cliente">Gestionar usuarios cliente.</button><br />

        <button type="button" class="btn btn-outline-dark" action="~/Management/Resultados">Gestionar pruebas.</button><br />
    </div>
</fieldset>