
@{
    ViewBag.Title = "Otras opciones";
}

<fieldset>
    <legend align="center">→ USUARIO MASTER ←</legend>
    <div class="container" align="center">
        <a type="button" class="btn btn-outline-light" href="~/Management/TipoUsuario">Gestionar tipos de usuarios.</a><br />

        <a type="button" class="btn btn-outline-dark" href="~/Management/TipoResultado">Gestionar tipos de resultados.</a><br />
    </div>
</fieldset>
