
@{
    ViewBag.Title = "Otras opciones";
}

<fieldset>
    <legend align="center">→ USUARIO MASTER ←</legend>
    <div class="container" align="center">
        <a type="button" class="btn btn-outline-light" href="~/Management/TipoUsuario" style="font:bold; font-size:large;">Gestionar tipos de usuarios.</a><br />

        <a type="button" class="btn btn-outline-info" href="~/Management/TipoResultado" style="font:bold; font-size:large;">Gestionar tipos de resultados.</a><br />
    </div>
</fieldset>
