<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LABORATORIO_CLINICO_LICDA_JIMENEZ_GARRIDO_ENTITIES" connectionString="Data source=laboratorio-clinico-licda-jimenez-garridodbserver.database.windows.net;initial catalog=Lab_ClinicoDb;persist security info=True;user id=JorgeL;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>