<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LABORATORIO_CLINICO_LICDA_JIMENEZ_GARRIDO_ENTITIES" connectionString="metadata=res://*/DatabaseModel.csdl|res://*/DatabaseModel.ssdl|res://*/DatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-JORGE\SQLEXPRESS;initial catalog=LABORATORIO_CLINICO_LICDA_JIMENEZ_GARRIDO;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>